.message__popup--icon {
    border: 1px solid black;
}
#btn-chat-1 {
    border: none;
    font-weight: bold;
    font-size: 15px;
    color: #f0564a;
    margin-right: 3px;
    border-radius: 10px;
}
#btn-chat-1:hover {
    border: none;
    font-weight: bold;
    font-size: 15px;
    color: white;
    background-color: #f0564a;
}