.custom-confirm-alert-overlay {
    background-color: transparent;
    border-radius: 5px;
}

.custom-confirm-alert {
    width: 300px;
    height: 110px;
    background-color: transparent;
    border-radius: 10px;
}
.custom-confirm-alert-title {
    text-align: center;
}
.custom-confirm-alert-buttons {
    text-align: center;
}
.custom-confirm-alert-message {
    text-align: center;
}
.custom-confirm-alert-button {
    color: white;
    background-color: #f0564a;
    border: none;
    border-radius: 2px;
    margin-left: 10px;
    width: 70px;
    height: 30px;
    margin-right: 10px;
}
.custom-confirm-alert-button:hover {
    color: #f0564a;
    background-color: rgba(240, 86, 74, 0.27);
}