#icon-header-1 {
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 0px;
    transform: translate3d(-9.62406px, 34.2857px, 0px);
}

.flex-shrink-0 {
    color: red;
}


.chosen {
    color: #d00d0d !important;
}