.word-1 {
    color: #f0564a;
    font-size: 20px;
    font-weight: bold;
}
.word-2 {
    color: #f0564a;
    font-size: 30px;
    font-weight: bold;
}
.info-user-icon {
    color: #f0564a;
    font-size: large;
    position: absolute;
    top: 3%;
    right: 31%;
}
.icon-setting-info:hover {
    cursor: pointer;
}
.info-user-icon:hover {
    cursor: pointer;
}
.div-info-user-1 {
    text-align: left;
    margin-top: 50px;
    position: relative;
}
.div-info-user-2 {
    justify-content: center;
    align-items: center;
    margin-top: 46px;
}
.label-info-user {
    /*color: #f0564a;*/
    padding-bottom: 20px;
    font-size: 20px;
}

.container-info-user {
    width: 100%;
    height: 100%;
}
.container-left-info-user {
    height: 100%;
}
.container-right-info-user {
    height: 100%;
}
.wrapper {
    width: 100%;
    height: 100%;
}
.loading-info-user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 280px;
}
.info-user-btn {
    margin-top: 20px;
    color: white;
    background-color: #f0564a;
    border: none;
    width: 100px;
    height: 35px;
    border-radius: 5px;
}
.info-user-btn:hover {
    background-color: rgba(231, 61, 48, 0.95);
}